* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    min-height: 100vh;
}


.imagen {
    width: 50%;
    background-image: url("../img/pc.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.registro {
    width: 50%;
    background-color: #eef8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.logo {
    font-size: 55px;
    font-weight: bold;
    color: #3184d7;
    margin-bottom: 30px;
}

.logo span {
    font-weight: normal;
}

.formulario {
    width: 100%;
    max-width: 555px;
}

.formulario h2 {
    text-align: center;
    color: #0b3c70;
    font-size: 30px;
    margin-bottom: 30px;
}

.grupo {
    margin-bottom: 20px;
}

.grupo label {
    display: block;
    font-size: 20px;
    color: #0b3c70;
    margin-bottom: 5px;
}

.grupo input {
    width: 100%;
    height: 50px;
    border: 1px solid #222;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 14px;
    background-color: white;
}


.btn-registro {
    display: block;
    width: 353px;
    height: 60px;
    margin: 35px auto 0;
    background-color: #205895;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 18px;
}

.btn-registro:hover {
    background-color: #174a80;
}


.iniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 35px;
}

.iniciar p {
    font-size: 18px;
    color: #555;
}

.iniciar a {
    font-size: 18px;
    color: #0b3c70;
    text-decoration: none;
}

.iniciar a:hover {
    text-decoration: underline;
}