body {
    width: 100%;
    min-height: 100vh;
}

.contenedor {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* IMAGEN */
.imagen {
    width: 50%;
    min-height: 100vh;
    background-image: url("gaming.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* REGISTRO */
.registro {
    width: 50%;
    min-height: 100vh;
    background-color: #eef8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
}

/* LOGO */
.logo {
    font-size: 55px;
    font-weight: bold;
    color: #3184d7;
    margin-bottom: 30px;
}

.logo span {
    font-weight: normal;
}

/* FORMULARIO */
.formulario {
    width: 100%;
    max-width: 555px;
}

.formulario h2 {
    text-align: center;
    color: #0b3c70;
    font-size: 30px;
    margin-bottom: 30px;
}

.grupo {
    width: 100%;
    margin-bottom: 20px;
}

.grupo label {
    display: block;
    font-size: 20px;
    color: #0b3c70;
    margin-bottom: 5px;
}

.grupo input {
    width: 100%;
    height: 50px;
    border: 1px solid #222;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 14px;
    outline: none;
    background-color: white;
}

.grupo input:focus {
    border: 2px solid #1d5c97;
}

/* CONTRASEÑA */
.input-contenedor {
    position: relative;
    width: 100%;
}

.ojo {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

/* BOTÓN */
.btn-registro {
    display: block;
    width: 353px;
    height: 60px;
    margin: 35px auto 0;
    background-color: #205895;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
}

.btn-registro:hover {
    background-color: #174a80;
}

/* INICIAR SESIÓN */
.iniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 35px;
}

.iniciar p {
    font-size: 18px;
    color: #555;
}

.iniciar a {
    font-size: 18px;
    color: #0b3c70;
    text-decoration: none;
}

.iniciar a:hover {
    text-decoration: underline;
}


@media (max-width: 900px) {

    .imagen {
        display: none;
    }

    .registro {
        width: 100%;
    }

    .btn-registro {
        width: 100%;
    }
}
